.bg-newcomers {
	background-color: @bgGrey;
	background-image: url('../img/bg/bg-newcomers.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.bg-newcomers__title {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	margin-bottom: 45px;
}
