.bg-newcomers {
	background-color: @bgGrey;
	background-image: url('../img/bg/bg-newcomers.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;

	.item-card:hover {
		box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2),	
	  			  0px 6px 20px 0px rgba(0, 0, 0, 0.19);	
	}
}

.bg-newcomers__title {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	margin-bottom: 45px;
}

.bg-newcomers__nav {
	
	.nav-arrow__left {
		margin-right: 10px;
	}	
	.nav-arrow__right {
		margin-left: 10px;
	}

	@media (min-width: 768px) {
		.nav-arrow__left {
			margin-right: 40px;
		}	
		.nav-arrow__right {
			margin-left: 40px;
		}
	}

}

