.header-slider {
	position: relative;	

	.item-card--rounded {
		border-radius: 0;
		

		@media (min-width: 768px) {
			border-radius: 8px;
		}	

	}
}


.item-desc {
	background-color: #343434;
	height: auto;
	min-height:400px;
	background-image: url('../img/bg/bg-aj-jacket.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;

	padding-left: 40px;
	padding-top: 165px;
	
	@media (min-width: 768px) {
		border-radius: 8px;
		margin-bottom: 17px;
		box-shadow: 5px 15px 20px -10px rgba(0, 0, 0, 0.55);
	}

}

.item__title {
	margin:0;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 300;
	text-transform: uppercase;
	color:#fff;
	margin-bottom: 10px;
}

.item__label {
	margin:0;
	font-size: 14px;
	line-height: 1.2;
	color:#f2dd79;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 50px;
}

.item__text {
	margin:0;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color:#808080;
}

