/*            Мобильное меню и анимированная иконка v.1.0                 */

/*             В HTML необходимо задать следующую структуру:
              
              <div id="mobile-menu__icon" class="mobile-menu__icon">
                <span></span>
              </div>

              <div class="mobile-menu">
                .....
              </div>*/


/*Подключаем иконку с определенного разрешения - 768px*/
@media (min-width: 768px) {
  .mobile-menu__icon {
    display: none;
  }
}

/*Иконка гамбургер - крестик*/
.mobile-menu__icon {
  position: fixed;
  top: 25px;
  /*right: 25px;*/
  left: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index:1000;
}
.mobile-menu__icon span {
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 100%;
  height: 3px;
  background-color: #4d4d4d;   
}

.mobile-menu__icon span:before,
.mobile-menu__icon span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4d4d4d;
  transition-duration: 0.3s;
  transition-delay: 0.3s, 0s;
}
.mobile-menu__icon span:before {
  top: -8px;
  transition-property: top, transform;
}
.mobile-menu__icon span:after {
  bottom: -8px;
  transition-property: bottom, transform;
}

/* is-opened - класс транфсормации в крестик*/
.is-opened span {
  background-color: transparent;
}
.is-opened span:before {
  top: 0;
  transform: rotate(45deg);
  transition-duration: 0.3s;
  transition-property: top, transform;
  transition-delay: 0s, 0.3s;
  /*background-color: #FFF;*/
}
.is-opened span:after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
  transition-property: bottom, transform;
  transition-delay: 0s, 0.3s;
  /*background-color: #FFF;*/
}

/*Меню для мобильной версии. Обертка для элементов меню*/
.mobile-menu {
  display: none;
}

/*Класс добавляется через JS по клику на иконку (.mobile-menu__icon)*/
/*растягивается на весь экран и жестко фиксируется*/
/*элеиенту внутри цетрируются как флексы*/
.mobile-menu.mobile-menu--opened {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(77, 77, 77, 0.95);
  z-index:2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: menu-open;
  animation-duration: 0.5s;
}

@keyframes menu-open {
  0% {
      transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
